/* File: index.css */
/* Name: Samuel Claflin */
/* Email: samuel_claflin@student.uml.edu */
/* Date: 9/21/2022 */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Global Styles */
* {
    /* Easier Positioning */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Font Configuration */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

    /* Animation Configuration */
    transition-duration: 0.3s;
}

/* Variables */
:root {
    /* Positioning */
    --content-padding: 25px;
    --grid-padding: 15px;

    /* Borders */
    --border-radius: 20px;

    /* Shadows */
    --box-shadow: 0 3px 5px 3px rgb(175, 175, 175);

    /* Colors */
    --light-gray: #e9e9ed;
    --dark-gray: #b7b7b7;
    --cyan: #21d2b4;
    --dark-cyan: rgb(23, 159, 137);
}

/* Main Header Container */
#main-header-container {
    /* Sizing */
    width: 100%;

    /* Flex Box Configuration */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Margin */
    margin-top: 15px;
}

/* Main Header */
#main-header {
    /* Sizing */
    width: 650px;

    /* Colors */
    background-color: var(--cyan);

    /* Flex Box Configuration */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Padding */
    padding: var(--content-padding);

    /* Shadows */
    box-shadow: var(--box-shadow);

    /* Positioning */
    position: relative;

    /* Borders */
    border-radius: 200px;
}

/* Main Form */
#main-form {
    /* Sizing */
    width: 300px;

    /* Grid Configuration */
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    row-gap: var(--grid-padding);
    column-gap: var(--grid-padding);

    /* Borders */
    border-radius: var(--border-radius);

    /* Margin & Padding */
    margin: var(--content-padding);
    padding: var(--content-padding);

    /* Shadows */
    box-shadow: var(--box-shadow);
}

/* Main Form Inputs */
#main-form input {
    /* Sizing */
    width: 50px;

    /* Font Configuration */
    text-align: right;
}

/* Main Table */
#main-table {
    /* Borders */
    border-radius: var(--border-radius);

    /* Margin */
    margin: var(--content-padding);

    /* Shadows */
    box-shadow: var(--box-shadow);
}

/* Main Table Cells */
#main-table td {
    /* Padding */
    padding: 10px;

    /* Font Configuration */
    text-align: center;
}

/* Submit Button */
#submit-button {
    /* Grid Configuration */
    grid-column: 1 / span 2;

    /* Borders */
    border: none;
    border-radius: 10px;

    /* Padding */
    padding: 10px;
}

/* Submit Button Hover Effects */
#submit-button:hover {
    cursor: pointer;
}

/* All Headers */
h1 {
    /* Font Configuration */
    font-size: 40px;
    font-weight: 300;
    text-align: center;
}

/* All Buttons */
button {
    /* Colors */
    background-color: var(--cyan);
}

/* All Buttons (Hover Effects) */
button:hover {
    /* Colors */
    background-color: var(--dark-cyan);
}

/* All Inputs */
input {
    /* Borders */
    border: 1px solid transparent;
    border-radius: 5px;

    /* Colors */
    background-color: var(--light-gray);

    /* Padding */
    padding: 5px;
}

/* Encapsulates Inputs with Invalid Values */
.invalid-input {
    border: 1px solid red;
}

/* Error Box */
#error-box {
    width: 175px;

    /* Font Configuration */
    color: red;
    word-wrap: break-word;

    /* Margin */
    margin-top: 10px;
}

/* Utility Class for Providing a Top Left Rounded Corner */
.top-left-rounded {
    /* Borders */
    border-top-left-radius: var(--border-radius);
}

/* Utility Class for Providing a Top Right Rounded Corner */
.top-right-rounded {
    /* Borders */
    border-top-right-radius: var(--border-radius);
}

/* Utility Class for Providing a Bottom Left Rounded Corner */
.bottom-left-rounded {
    /* Borders */
    border-bottom-left-radius: var(--border-radius);
}

/* Utility Class for Providing a Bottom Right Rounded Corner */
.bottom-right-rounded {
    /* Borders */
    border-bottom-right-radius: var(--border-radius);
}

/* Encapsulates All Labels Within the Main Table */
.table-label {
    /* Colors */
    background-color: var(--cyan);
}

/* Utility Class for Providing a Light Gray Background */
.light-gray-background {
    background-color: var(--light-gray);
}

/* Utility Class for Providing a Dark Gray Background */
.dark-gray-background {
    background-color: var(--dark-gray);
}

/* Utility Class for Providing a Dark Cyan Background */
.dark-cyan-background {
    background-color: var(--dark-cyan);
}
